.benchmarks
.cache
.tox
.coverage*
build
dist
pytest.xml
.pytest_cache
__pycache__
*.egg-info
docs/source/api
.idea

venv/
env/

**/.idea/dictionaries/*
**/.idea/tasks.xml
**/.idea/workspace.xml

.ipynb_checkpoints/

.ipynb

test.py
